.form-container {
    background: #e4e7e7 ;
    padding: 10px;
}

form {
    background: white;
    padding: 20px;}

.name {
    display: flex;
}

.degree {
    display: flex;
}

.college-dates {
    display: flex;
}

label {
    display: block;
}

.input-group {
    display: block;
}

.experience-div, .project-div, .certificate-div {
    display: flex;
    justify-content: space-between;
}

.remove-experience, .remove-project, .remove-cert {
    padding: 10px 12px;
    height: fit-content;
}